{%extends "layout.html"%}
{%block content %}
	<h1>Want to Register!!!</h1>
	<div class="content-section">
		<form method="POST" action="">
			{{ form.hidden_tag() }}
			<fieldset class="form-group">
				<legend class="border-bottom mb-4"> You're at the right place, fill in the details</legend>
				<div class="form-group">
					{{ form.name.label(class="form-control-label")}}
					{% if form.name.errors %}
						{{ form.name(class="form-control form-control-lg is-invalid")}}
						<div class="invalid-feedback">
							{% for er in form.name.errors %}
							<span>
								{{er}}
							</span>
							{% endfor %}
						</div>
				
						{% else %}
					{{ form.name(class="form-control form-control-lg")}}
					{% endif %}
				</div>

				<div class="form-group">
					{{ form.email.label(class="form-control-label")}}
					{% if form.email.errors %}
						{{ form.email(class="form-control form-control-lg is-invalid")}}
						<div class="invalid-feedback">
							{% for er in form.email.errors %}
							<span>
								{{er}}
							</span>
							{% endfor %}
						</div>
				
						{% else %}
					{{ form.email(class="form-control form-control-lg")}}
					{% endif %}

				</div>

				<div class="form-group">
					{{ form.password.label(class="form-control-label")}}
					{% if form.password.errors %}
						{{ form.password(class="form-control form-control-lg is-invalid")}}
						<div class="invalid-feedback">
							{% for er in form.password.errors %}
							<span>
								{{er}}
							</span>
							{% endfor %}
						</div>
				
						{% else %}
					{{ form.password(class="form-control form-control-lg")}}
					{% endif %}
				</div>

				<div class="form-group">
					{{ form.confirm_password.label(class="form-control-label")}}
					{% if form.confirm_password.errors %}
						{{ form.confirm_password(class="form-control form-control-lg is-invalid")}}
						<div class="invalid-feedback">
							{% for er in form.confirm_password.errors %}
							<span>
								{{er}}
							</span>
							{% endfor %}
						</div>
				
						{% else %}
					{{ form.confirm_password(class="form-control form-control-lg")}}
					{% endif %}
				</div>

					
			</fieldset>
			<div class="form-group">
				{{ form.submit(class="btn btn-outline-info") }}
			</div>
		</form>
		<div class="border-top pt-4">
			<small class="text-muted">
				Already a member? Great! Go Ahead and login  <a class="ml-3" href="{{ url_for('login') }}">Sign In</a>
			</small>
		</div>
{% endblock content %}